
// [ CARDS ]

// [ task cards ]
.task-card {
    width: 100%;
    padding: 20px;
    background: lighten($grey, 10%);
    margin: 10px 0;
    border-radius: 3px;
}
.priority-indicator { 
    width: 40px; height: 8px;
    border-radius: 40px;
    margin-bottom: 10px;
    background: $green;

    &.urgent    { background: $red }
    &.normal    { background: $blue }
    &.low       { background: $green }
    &.no-prior  { background: lighten($grey, 25%) }
}