
// [ FORM ]
form { 
    width: 50%;
    padding: var(--m-small);
    background: $dark;
    border-radius: 5px;
    flex-wrap: wrap;
    pointer-events: none;
    z-index: 100;
    @include box-shadow('medium');
    @include flex-align;

    * { pointer-events: all; }
}
.form-title { 
    @extend .task-title;

    flex: 1 0 100%;
    margin-top: 0;
    letter-spacing: 0.01;
}
label {
    flex: 1 0 100%;
    font-size: 1.4rem;
    color: darken($white, 10%);
    margin-bottom: 10px;

    & ~ & { margin-top: 25px }
}
input, textarea, select {
    flex: 1 0 100%;
    padding: var(--m-tiny); 
    background: darken($dark, 5%);
    color: $white;
    font-size: 1.5rem;
    font-weight: $f-lite;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 3px;
    transition: all 0.25s !important;

    &:focus {
        background: #151B26;    //FIX: smooth color transition
    }

    &::-webkit-input-placeholder {
        color: rgba($white, 0.4);
    }
}
textarea {
    min-height: 200px;
    resize: none;
}
select option {
    padding: var(--m-tiny); 
    height: 50px;
}

form .button {
    margin-top: varset('--m-tiny + 10px');
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
}
