
// [ HEADER ]
.header { 
    height: 50px;
    margin-bottom: var(--m-small);;
    padding: 0 var(--m-small);;
    background: $white;
    color: $dark;
    @include flex-align(space-between);
    @include box-shadow;
}

.header .logo {
    font-size: 2rem;
    font-weight: $f-bold;
}