
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; }
body {
    background: $dark;
    color: $white;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

// [ buttons ]
a { 
    color: $white;
}

// [ icons ]
.ico { 
    width: 30px; height: 30px;
    margin: 0 5px;
}
