
// [ GENERAL ]
html { font: $font; font-weight: $f-normal; }
body {
    background: $dark;
    color: $white;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

// [ themes ]
body.night {
    background: $dark;
    color: $white;
}
body.light {
    background: $white;
    color: $dark;

    .header {
        background: $dark !important;
        color: $white;

        a, span {
            color: lighten($white, 10%);
        }
        a.active {
            color: $white;
            font-weight: $f-bold;
        }
    }

    .taskboard h2 {
        color: $grey;
    }

    .button { color: $white }

    .prior-guide div {
        background: darken($white, 5%);
        
        span { color: $dark }
    }

    .task-card { 
        background: $white !important;
    }
    .task-title, .task-date { 
        color: lighten($dark, 10%);
    }
    .task-description { 
        color: $dark;
        font-weight: $f-normal;
    }
    .ico {
        fill: $dark !important;
    }
    .ico.edit {
        fill: $green !important;
    }
    .task-group { 
        background: darken($white, 5%) !important;
        color: $grey;
    }
}

// [ buttons ]
a { 
    color: $white;
}

// [ icons ]
.ico { 
    width: 30px; height: 30px;
    margin: 0 5px;
}
